@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&%display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing:border-box;
    background-color:#000000;
    color:#ffffff;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    color: #22d4fd;
    font-family: 'Montserrat' sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentaçao__conteudo__titulo {
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
}

.titulo-destaque {
    color: #22d4fd;
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: 'Krona One' , 'sans-serif';
    font-weight: 400;
    font-size: 24px;

}

.apresentacao__links__link {

    justify-content: center;
    display: flex;
    gap: 16px;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #22d4fd;
}

.apresentacao__links__link:hover {
    background-color: #272727;
}

.rodape {
    color: #000000;
    background-color: #22d4fd;
    padding: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}
